@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
/* for graphs js page */
/* targeting axis to add angle */

.x.axis text {
  text-anchor: end !important;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.x.axis text,
.y.axis text {
  font-weight: 800;
  font-size: 0.9rem;
}
/* main body */

/* Setting default font size for page */
body,
html {
  font-size: 16px;
}

/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}

/* reusable componets */
text.pie-slice.pie-label,
text.row,
.capitals {
  text-transform: uppercase;
}

.black {
  color: black;
}

.white {
  color: white;
}

text.pie-slice.pie-label,
text.y-axis-label,
text.x-axis-label {
  font-size: 1.1rem;
  font-weight: 700;
}
/* setting fonts */

/* barlow semi condensed added to all smaller text here  */
.para,
.x.axis text,
.y.axis text,
text.y-axis-label,
text.x-axis-label,
text.pie-slice.pie-label,
text.row,
.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}

  font-size: 1.3rem;

.text-oswald {
  font-family: "Oswald", sans-serif;
}

/* 
/* End main body set up */
/* navbar */
/* fixed navbar  added here z-index added to put navbar on top of background Image  */
.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.data_btn,
.nav-border {
  border: 4px solid black;
  margin: 0 0.2rem 0 0.2rem;
}
i {
  font-size: 1.5rem;
}

/* callout section */
/* wrapper for callout Image */
.img-wrapper {
  height: 100%;
  width: 100%;
}
/* fixed background Image added here to take up full view height */
.callout-container {
  height: 100vh;
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1571734319/milestone-2/milestone_2_background_image_ual5hh.jpg")
    no-repeat fixed;
  background-position-x: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

#callout_text {
  position: relative;
}
.data_btn,
.callout_main_text {
  font-size: 1rem;
  font-weight: 600;
}
.data_btn {
  font-size: 2.5rem;
  background: transparent;
}
/* linegraph section */
.graph_section {
  margin-top: 4.5rem;
}

.para {
  font-weight: 600;
  font-size: 1.1rem;
}

/* media queries */
/* for mobile only */
@media (max-width: 566px) {
}
/* small tablets and up */
@media (min-width: 567px) {
  .navbar-brand,
  .navbar-nav {
    font-size: 2rem;
    padding: 0.3rem;
  }

  data_btn,
  .callout_main_text {
    font-size: 2rem;
  }
  .data_btn,
  .nav-border {
    border: 4px solid black;
    margin: 0 0.2rem 0 0.2rem;
  }
}

/* linegraph section */
.graph_section {
  margin-top: 7rem;
}

/* for larger tablets  and up*/

@media (min-width: 992px) {
}
/* for laptops */
@media (min-width: 1200px) {
  .graph_section {
    margin-top: 9rem;
  }
}
/* for large desktops */

@media (min-width: 1400px) {
}

/* * {
  border: 1px solid red !important;
} **/
}
