@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Oswald&display=swap:,300,500,600,700,800,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

/* main body */

/* Setting default font size for page */
body,
html {
  font-size: 16px;
}

/* removing all margins and padding from bootsrap rows an cols */
.container-fluid,
.container,
.row {
  margin: 0;
  padding: 0;
}

/* reuable componets */
.capitals {
  text-transform: uppercase;
}

.black {
  color: black;
}

.white {
  color: white;
}
/* setting fonts */

.text-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.text-oswald {
  font-family: "Oswald", sans-serif;
}

/* 
/* End main body set up */
/* navbar */

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar-brand,
.navbar-nav {
  font-size: 1.5rem;
  padding: 0.3rem;
}

.nav-border {
  border: 3px solid black;
  margin: 0 0.4rem 0 0.4rem;
}
i {
  font-size: 2rem;
}

/* callout section */

.img-wrapper {
  height: 100%;
  width: 100%;
}
.callout-container {
  height: 100vh;
  background: url("https://res.cloudinary.com/plyn85/image/upload/v1571657701/milestone-2/milestone_2_background_image_rodryh.jpg")
    no-repeat fixed;
  background-position-x: 50%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}
/* 
  border: 1px solid red !important;
} */
